AIRFLOW_UID=50000
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_ADMIN_EMAIL=admin@example.com
SPARK_MASTER_URL=spark://spark-master:7077
HDFS_NAMENODE_URL=hdfs://namenode:8020
OUTPUT_ROOT=/output
DATA_PATH=/opt/cdr/data/cdr_data.csv